<div class="container">
    <div class="form">
        <h3>Agregar nuevo propietario</h3>
        <mat-form-field class="input" style="margin: 3% 0px 0px 0px" >
            <input matInput placeholder="Nombre" required [(ngModel)]="name"> 
        </mat-form-field>
        <mat-form-field class="input">
            <input matInput placeholder="Mail" required [(ngModel)]="email"> 
        </mat-form-field>
        <mat-form-field class="input">
            <input matInput placeholder="Password" required [(ngModel)]="password"> 
        </mat-form-field>
        <mat-form-field class="input">
            <input matInput placeholder="Password" required> 
        </mat-form-field>
        <button mat-button class="btn-add-owner" (click)="addVehicleOwner()">Agregar</button>
    </div>
</div>