<div class="container">
    <div class="form">
        <h1>Agregar nuevo propietario</h1>
        <mat-form-field >
            <input matInput placeholder="Nombre"  required> 
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Mail"  required> 
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password"  required> 
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password"  required> 
        </mat-form-field>
        <button mat-button class="btn-add-owner">Agregar</button>
    </div>
</div>