<mat-drawer-container class="container">
    <mat-drawer mode="side" class="container-options" opened>
      <div>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>Usuario</mat-expansion-panel-header>
            <button mat-button class="btn-options">Agregar un usuario</button>
            <button mat-button class="btn-options">Visualizar usuarios</button>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>Vehiculo</mat-expansion-panel-header>
            <button mat-button class="btn-options">Agregar un vehiculo</button>
            <button mat-button class="btn-options">Visualizar vehiculos</button>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>Grupo</mat-expansion-panel-header>
            <button mat-button class="btn-options">Agregar un grupo</button>
            <button mat-button class="btn-options">Visualizar grupos</button>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>Tarjeta RFID</mat-expansion-panel-header>
            <button mat-button class="btn-options">Agregar tarjetas RFID</button>
            <button mat-button class="btn-options">Visualizar tarjetas</button>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>Ver grafica</mat-expansion-panel-header>
          </mat-expansion-panel>
        </mat-accordion>      
      </div>
    </mat-drawer>
    <mat-drawer-content style="position: relative">
        <div class="container-add">
          <h1>Agregar nuevo vehiculo</h1>
          <mat-form-field style="margin-top: 50px;">
            <input matInput placeholder="IMEI"  required> 
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Usuario"  required> 
          </mat-form-field>
          <button mat-button class="btn-add-vehicle">Agregar</button>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
