<div class="container">
    <div class="form">
        <h3>Agregar nuevo vehiculo</h3>
        <mat-form-field class="input" style="margin: 4% 0px 0px 0px">
            <input matInput placeholder="IMEI" required [(ngModel)]="imei"> 
        </mat-form-field>
        <mat-form-field class="input">
            <select matNativeControl required class="select" placeholder="Propietario" [(ngModel)]="vehicleOwnerId">
                <option *ngFor="let vehicleOwner of vehicleOwners" class="option" value="{{ vehicleOwner.id }}">{{ vehicleOwner.name }}</option>
            </select>
        </mat-form-field>
        <mat-form-field class="input">
            <input matInput placeholder="ID contador" required [(ngModel)]="deviceCountId"> 
        </mat-form-field>
        <button mat-button class="btn-add-vehicle" (click)="addVehicle()">Agregar</button>
    </div>
</div>