<div class="container" >
  <div class="container-login-desk">
    <div class="logo">
      <img mat-card-image class="img" src="assets/img/logo.png">
    </div>
    <div class="login">
        <h1>Iniciar Sesión</h1>
        <mat-form-field style="margin-top: 40px;">
          <input matInput placeholder="Gmail"  required> 
        </mat-form-field>
        <mat-form-field >
          <input matInput placeholder="Password" type="password" required>
        </mat-form-field>
        <button mat-button>Entrar</button>
    </div>
  </div>
  <div class="container-login-mobile">
      <div class="logo">
        <img mat-card-image class="img" src="assets/img/logo.png">
      </div>
      <div class="login">
          <h1>Iniciar Sesión</h1>
          <mat-form-field style="margin-top: 40px;">
            <input matInput placeholder="Gmail"  required> 
          </mat-form-field>
          <mat-form-field >
            <input matInput placeholder="Password" type="password" required>
          </mat-form-field>
      </div>
      <button mat-button>Entrar</button>
  </div>
</div>
