*{
    font-family: 'Open Sans', sans-serif;
    color: #424242;
}

.container{
    position: absolute;
    background-color:#212121;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;;
}

.container-login-desk{
    position: relative;
    margin-top: 30%;
    width: 500px;
    height: 60%;
}

mat-drawer{
    background-color:#058E8E;
}

.logo{
    position: relative;
    text-align: center;
    width: 100%;
}

.login{
    display: block;
    text-align: center;
    height: 60%;
}

.otherSide{
    position: absolute;
    background-color: #E0E0E0;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

.img-otherSide{
    text-align: center;
    background-position:center;
    padding: 0px;
    width: 100%;
    height: 100%;
}

mat-form-field{
    color: white;
    margin-top: 80px;
    text-align: center;
    font-size: 22px;
    width: 80%;
    height: 40px;
}

button{
    background-color: #2E8EC5;
    color: white;
    position: absolute;
    font-size: 20px;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    width: 60%;
    border: 0px;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}

button:active{
    transform: translate(-50%, 6px);
}

button:focus{
    outline:0;
}

.input{
    border-style: solid;
    border-color: #212121;
    border-width: 5px;
}

@media only screen and (max-width:800px){
    mat-drawer{
        position: absolute;
        left: 0px;
        right: 0px;
    }

    .container-login-desk{
        margin-top: 20%;
        width: 100%;
    }

    button{
        bottom: -80px;
    }
}