.TEXT-JAPANESE-INDIGO{
    color:#264653;
}

.TEXT-JUNGLE-GREEN{
    color: #2A9D8F;
}

.TEXT-HANSA-YELLOW{
    color: #E9C46A;
}

.TEXT-SANDY-BROWN{
    background-color: #F4A261;
}

.TEXT-LIGHT-RED-OCHRE{
    background-color: #E76F51;
}

.BACKGROUND-JAPANESE-INDIGO{
    background-color:#264653;
}

.BACKGROUND-JUNGLE-GREEN{
    background-color: #2A9D8F;
}

.BACKGROUND-HANSA-YELLOW{
    background-color: #E9C46A;
}

.BACKGROUND-SANDY-BROWN{
    background-color: #F4A261;
}

.BACKGROUND-LIGHT-RED-OCHRE{
    color: #E76F51;
}

.COLOR-TEXT{
    color: #fff;
}